name: Deploy Multi
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - run: docker build -t aujourdui/muiti-client ./client -f Dockerfile.dev .
      - run: docker build -t aujourdui/muiti-nginx ./nginx -f Dockerfile.dev .
      - run: docker build -t aujourdui/muiti-server ./server -f Dockerfile.dev .
      - run: docker build -t aujourdui/muiti-worker ./worker -f Dockerfile.dev .
      - run: docker run -e CI=true aujourdui/fib-docker npm test

      - name: Generate deployment package
        run: zip -r deploy.zip . -x '*.git*'

      - name: Deploy to EB
        uses: aujourdui/beanstalk-deploy@v18
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
          aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
          application_name: fb-react
          environment_name: Fbreact-env
          existing_bucket_name: elasticbeanstalk-ca-central-1-155785019611
          region: ca-central-1
          version_label: ${{ github.sha }}
          deployment_package: deploy.zip
